nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10% 0px 10%;
    align-items: center;
}

.button{
    width: 80px;
    height: 40px;
    padding: 5px;
    color:white;
    font-weight: 500;
    font-size: 15px;
    background-color: #cc3a46;
    border-radius: 10px;
    border:none;
    cursor: pointer;
}